/node_modules
/dist
/logs

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

combine.ts
combine.py
combine2
builder.ts

package-lock.json
xenon-bastion-457821-k3-97abf377076a.json

*.txt
*.log
*.py

/src/common/decorators/Roadmap.md
/src/client/Roadmap.md
/src/common/config-module/Roadmap.md
/config_df
/config_df_test
/config_mrg
